html{
  background-color: #282c34;
  min-height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
}


.nav-header{
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav{
  position: absolute;
  top: 20px;
  left: 20px;
}


.center-div{
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.center-btn {
  display: flex;
  align-items:center;
}

.form-column{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.center-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-div button {
  /* Space above button */
  
  padding: 10px 20px; /* Increased padding for better button size */
  background-color: #4285F4; /* Google Blue */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition */
}


.signGoogle:hover {
  background-color: #357AE8; /* Darker blue on hover */
}

/* Icon for Google Button */
.google-icon {
  width: 20px;
  height: 20px;
  margin-left: 10px; /* Space between icon and text */
  vertical-align: middle; /* Align icon with text */
}

/* Optional: Button Hover Effect */
.center-div button:hover {
  background-color: #0056b3; /* Default hover effect */
  color: white; /* Ensure text stays white on hover */
}

.signup-link{
  color: white;
  font-size: medium;
  font-family: Arial, sans-serif;
  /*font-weight: 600;*/
  margin-top: 10px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff; /* Set the color of the "Or" */
  font-size: medium;
  margin: 20px 0; /* Add some spacing between the form and Google sign-in */
}

.divider::before,
.divider::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #fff; /* Style the horizontal lines */
  width: 75px;
  margin: 0 20px; /* Spacing between the "Or" text and the lines */
}

span{
  cursor: pointer;
  color: blue; 
}


/*_______Chat_Room_Style________*/

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Align everything to the right */
  height: calc(var(--vh, 1vh) * 100);
  width: 100%; /* Full width */
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

.chats {
  margin-top: 80px;
  margin-left: 10px;
  height: 80%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.chat-area {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end; /* Align the chat area to the right */
  width: 80%; /* Takes the remaining space after the chat list */
  height: 100%;
}

.chats input {
  width: 50%;
  font-size: max(12px, 1.6vw);
}

.chats button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: max(12px, 1.6vw);
  cursor: pointer;
  background-color: blue;
  color: white;
}

.chats button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.found-user {
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 12px;
  margin-top: 10px;
  padding: 0;
}

.found-user p {
  margin: 0;
  font-size: 16px;
}

.found-user button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px 6px;
  min-height: max-content;
  background-color: #4CAF50;
}

.error {
  color: red;
}

.contact {
  display: flex;
  align-items: center;
  margin-top: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  transition: transform 0.3s ease;
}

.contact:hover {
  transform: scale(1.02);
}

.contact img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact p {
  margin: 0;
  font-size: max(12px, 1.6vw);
  color: #0056b3;
}

main {
  margin-top: 80px;
  height: auto;
  width: calc(100% - 10px); /* Make the main section fill the chat area */
  margin-right: 10px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Custom Scrollbar Styles */
main::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

main::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded edges */
}

main::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

main::-webkit-scrollbar-track {
  background: none; /* Background of the scrollbar track */
}

.form-send {
  width: calc(100% - 10px);
  margin: 10px;
  display: flex;
  justify-content: flex-end; /* Align the form to the right */
}

.back-button{
  position: absolute;
  top: 0;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.back-button:hover{
  background-color: #ccc;
}

.search-form{
  width: 100%;
}

/*_______Responsive_Style_for_500px_or_less________*/
@media screen and (max-width: 500px) {
  .messages-container {
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    
  }

  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
  }

  .chats {
    width: 80%; /* Center contact list and take 80% width */
    margin: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .search-form{
    width: 70%;
  }

  .chats input{
    width: calc(100% - 70px);
  }

  .chats button{
    font-size: 12px;
  }

  .contact-list{
    width: 70%;
  }

  .contact {
    width: 100%;
    margin: 10px 0;
  }
}



/* Ensure the form takes the full width */
.form-send form {
  width: 100%;
}

/* Styling for the input container */
.div-input {
  display: flex;
  align-items: center;
  width: 100%; /* Full width for div-input */
}

/* Styling the input field */
input {
  flex-grow: 1;
  padding: 8px; /* Adjust padding */
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: max(12px, 2vw); /* Responsive font size */
  margin-right: 10px; /* Space between input and button */
}

/* Styling for the submit button */
.submit-btn {
  padding: 8px 16px; /* Adjust padding for better responsiveness */
  border-radius: 20px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  font-size: max(12px, 2vw); /* Responsive font size */
}

/* Disabled button styling */
.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Query for small screens */
@media (max-width: 370px) {
  .form-send {
    width: 90%; /* Reduce form width on small screens */
  }

  .div-input {
    flex-direction: column; /* Stack input and button on top of each other */
    align-items: stretch; /* Stretch to fill parent width */
  }

  input {
    margin-right: 0; /* Remove margin on small screens */
    margin-bottom: 10px; /* Space between input and button */
  }

  .submit-btn {
    width: 100%; /* Full width for the button on small screens */
  }
}


/*_______Message_Style__________*/
.message {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: fit-content;
  min-width: min-content;
  max-width: 60%;
  
  word-break: break-all;
  font-family: Arial, sans-serif;
  font-size: max(12px, 1.6vw);
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sent {
  background-color: #DCF8C6; /* Light green background for sent messages */
  align-self: flex-end; /* Align sent messages to the right */
  margin-left: auto;
}

.received {
  background-color: #ffffff; /* White background for received messages */
  align-self: flex-start; /* Align received messages to the left */
}

.message p {
  background-color: inherit;
  border-radius: 15px;
  margin: 0;
}

.sign-out{
  background-color: red;
  color: white;
  cursor: pointer;
  font-size: max(12px, 1.6vw);
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  border: none;
}

.sign-out:hover{
  background-color: brown;
}

.bi-gear{
  color: white;
  font-size: max(25px, 3vw); 
}

.global-chat-btn {
  position: absolute;
  top: 20px;
  right: 130px;
  background-color: #007bff; /* Blue background */
  color: white; /* White text */
  border: none; /* No border */
  padding: 10px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: max(12px, 1.6vw); /* Font size */
  transition: background-color 0.3s ease;
}

.global-chat-btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

@media screen and (min-width: 1000px) {
  .message p, .sign-out, input, .submit-btn {
    font-size: 16px;
  }
  .bi-gear{
    font-size: 30px;
  }

  .global-chat-btn{
    font-size: 16px;
  }

  .chats input{
    width: calc(100% - 74px);
    font-size: 16px;
  }

  .chats button{
    font-size: 16px;
  }

  .contact p{
    font-size: 16px;
  }

}

.dropdown {
  display: inline-block;
}

/* The dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Show the dropdown when triggered */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  border-radius: 5px;
}

/* Visible dropdown when state is true */
.dropdown .dropdown-content {
  display: block;
}

/* Centering the content */
.center-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-div button{
  margin-top: 20px;
}

/* Container for the avatar grid */
.grid-avatar-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
  grid-auto-rows: 1fr; /* Ensure each row takes equal space */
  gap: 20px; /* Space between grid items */
  justify-content: center;
  margin-top: 20px;
}

/* Individual avatar items */
.grid-avatar-item {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Circular avatars */
  cursor: pointer;
  transition: transform 0.2s ease; /* Add a transition effect */
}

.grid-avatar-item:hover {
  transform: scale(1.1); /* Slight zoom effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
}

.friend-requests {
  padding: 10px;
}

.friend-request {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.friend-request p {
  margin-right: 10px;
}

.friend-request button {
  margin-left: 5px;
}

